body, html {
  font-family: 'JetBrains Mono', 'Courier New', monospace;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button{
  font-size: 24px;
  color: rgba(253, 151, 31, 1);  background-color: transparent;
  padding: 10px 20px;
  border-radius: 15px;
  transition: color 0.3s ease, border-color 0.3s ease;
  border: 2px solid #A6E22E;
}
button:hover{
  color: rgba(253, 151, 31, 1);
  border:2px solid;}

  input{
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #A6E22E;
    width: 100x;
    height: 25px;
    background-color: transparent;
    font-size: 12px;
    resize: horizontal;
    outline: none;
}

.guestHome h1 {
  font-size: 50px;
  font-weight: 600;
  color: #F92672;
  margin: 0;
}
.guestHome h2 {
  font-size: 25px;
  font-weight: 600;
  color: #F92672;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 15px;
}

.column > * {
  flex-shrink: 0;
}

.column h1, .column h2, .column h3 {
  margin: 0 0 8px 0;
}

.column p {
  margin: 0 0 0 0;
  line-height: 1.5;
}

.column.center {
  align-items: center;
}

.column.start {
  align-items: flex-start;
}

.column.end {
  align-items: flex-end;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
}

.row > * {
  flex-shrink: 0;
}

.row.wrap {
  flex-wrap: wrap;
}

.row.center {
  justify-content: center;
}

.row.space-between {
  justify-content: space-between;
}

.row.space-around {
  justify-content: space-around;
}



.styled-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #A6E22E;
}

/* Styling for the header row */
.styled-table thead tr {
  background-color: var(--primary-color);
  color: rgba(249, 38, 114, 1);
  text-align: center;
  font-weight: 600;
}

/* Styling for table cells (header and body) */
.styled-table th, .styled-table td {
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid #A6E22E; 
  border-right: 1px solid #A6E22E;
  border-left: 1px solid #A6E22E;
}



/* Styling for the body rows */
.styled-table tbody tr {
  color: #9EFFFF;
  background-color: rgb(133, 13, 0,0);
}



/* Hover effect for interactive rows */
.styled-table tbody tr:hover {
  background-color: rgba(253, 151, 31, 0.2); /* Indigo-100 */
  cursor: pointer;
}

/* Remove bottom border from the last row for a clean edge */
.styled-table tbody tr:last-of-type td {
  border-bottom: none;
}

/* Apply rounded corners only to the top header cells */
.styled-table thead tr th:first-child {
  border: 1px solid #A6E22E;
}
.styled-table thead tr th:last-child {
  border: px solid #A6E22E;
}





.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.scrollable-table-container {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #A6E22E;
 
}
